{   "partner": "UPDATE res_partner SET opt_out = True;",
    "out_mail": "UPDATE ir_mail_server SET active = False, smtp_user = 'user', smtp_pass = 'pass';",
    "in_mail": "UPDATE fetchmail_server SET active = False, \"user\" = 'user', password = 'pass';"
}
